<!DOCTYPE html>
<html>
<head>
    <title>FW1 Prediction</title>
</head>
<body>
    <div class="login">
        <h1>FW1 Prediction</h1>

        <!-- Main input for receiving query to our ML-->
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            <input type="text" name="Temperature" placeholder="Temperature" required="required" /><br>
            <input type="text" name="RH" placeholder="RH" required="required" /><br>
            <input type="text" name="Ws" placeholder="Ws" required="required" /><br>
            <input type="text" name="Rain" placeholder="Rain" required="required" /><br>
            <input type="text" name="FFMC" placeholder="FFMC" required="required"/><br>
            <input type="text" name="DMC" placeholder="DMC" required="required"/><br>
            <input type="text" name="ISI" placeholder="ISI" required="required"/><br>
            <input type="text" name="Classes" placeholder="Classes" required="required"/><br>
            <input type="text" name="Region" placeholder="Region" required="required"/><br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form> 

        <h2>
            THE FWI prediction is {{results}}
        </h2>
    </div>
</body>
</html>
<!-- 
    This is the home page of our web app. It contains a form that takes in the user's input and sends it to the server for processing. 
    The server then returns the result of the prediction and displays it on the page. 
-->